.action-icon {
    cursor: pointer;
    margin: 0 5px;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.action-icon:hover {
    color: #007bff; /* Change this color on hover */
}
