.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0; /* Fondo gris claro */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 250px; /* Ajuste para el sidebar */
  right: 0;
  z-index: 1000;
  color: #333; /* Texto oscuro */
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.app-header h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: left; /* Alineación a la izquierda */
  color: #5180d8; /* Azul para dar énfasis */
  flex-shrink: 0; /* Evita que el título se comprima si hay espacio limitado */
}

.logout-button {
  background: none;
  border: none;
  color: #5180d8; /* Azul a juego con el título */
  font-size: 20px; /* Tamaño del icono */
  cursor: pointer;
  transition: color 0.3s;
  padding: 0; /* Sin padding para reducir espacio */
  width: 20px; /* Limitar el ancho a 20px */
  height: 20px; /* Limitar el alto a 20px */
  display: flex;
  justify-content: center; /* Centrar el icono dentro del botón */
  align-items: center; /* Centrar el icono verticalmente */
}

.logout-button:hover {
  color: #333; /* Oscurecer al hacer hover */
}

.logout-button svg {
  vertical-align: middle; /* Alinear el icono verticalmente */
  width: 100%; /* Hacer que el icono ocupe todo el botón */
  height: 100%; /* Asegurar que el icono se ajuste al tamaño del botón */
}
