/* src/components/SidebarMenu.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
  font-family: 'Poppins', sans-serif;  /* Fuente moderna */
  position: fixed;
}

.sidebar h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
}

.sidebar ul li a span {
  margin-left: 10px;
}

.sidebar ul li a svg {
  font-size: 20px;
  color: #4CAF50;
}
